body{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    margin: 0;
    background-color: bisque;
    display: grid;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 2.5rem;
    font-family:'Dancing Script';
}
.top-container{
    position: relative;
    background-color:paleturquoise;
}
.middle-container{
    display:grid;
}
.bottom-container{
    background-color: chartreuse;
}
.contact-me{
    background-color: orange;
}
.title{
    color:darkblue;
}
.top-cloud{
    position: relative;
    left: 20em;
}
.bottom-cloud{
    position: absolute;
    right: 65rem;
}

.face{
    border-radius: 50%;
    width: 30%;
    height: 60%;
}

p{
    font-family: sans-serif;
}
.profile{
    background-color: #FFACAC;
}
.skills{
    background-color: #AA77FF;
}
.form{
    background-color: #FFACAC;
}
.me{
    background-color: #AA77FF;
}
.sub-body{
    display: grid;
}